body {
  background-color: rgb(238, 238, 225);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

h2 {
  text-shadow: 2px 1px rgb(167, 156, 141);
  color: rgb(71, 44, 27);
}

h3 {
  text-shadow: 2px 1px rgb(167, 156, 141);
}

#header {
  padding: 60px;
  background-image: url(../images/ucf.jpg);
  opacity: 0.7;
  background-position-y: 50%;
  background-size: cover;
}

.heading {
  display: table;
  margin: 0px auto 0px auto;
  padding: 30px;
  background-color: rgb(238, 238, 225);
  box-shadow: 5px 10px rgb(128, 111, 87);
  color: rgb(71, 44, 27);
  font-size: 60px;
}

#footer {
  margin-top: 1%;
  padding: 20px;
  background-image: url(../images/future.jpg);
  opacity: 0.7;
  background-position-y: 50%;
  background-size: cover;
  font-size: 60px;
}

.container {
  position: relative;
}

.image {
  opacity: 1;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.5;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: rgb(102, 64, 12);
  color: rgb(238, 238, 225);
  font-size: 90%;
  padding: 8%;
}

#grid {
  display: grid;
  grid-template-areas: "jrn" "img1" "img2" "img3" "img4" "img5" "img6";
  margin-top: 1%;
  background-color: rgb(170, 157, 141);
  padding: 10px;
  grid-gap: 10px;
}

.grid-item {
  background-color: rgba(236, 234, 234, 0.8);
  border: 5px inset rgb(102, 64, 12);
}

.future {
  grid-area: ft;
}

.journey {
  grid-area: jrn;
}

.image1 {
  grid-area: img1;
}

.image2 {
  grid-area: img2;
}

.image3 {
  grid-area: img3;
}

.image4 {
  grid-area: img4;
}

.image5 {
  grid-area: img5;
}

.image6 {
  grid-area: img6;
}

img {
  width: 70%;
  margin-bottom: 50px;
  border: 7px outset rgb(102, 64, 12);
}

#timeline {
  margin-left: 1.5%;
  text-align: left;
  font-size: xx-large;
  font-weight: bold;
  color: rgb(102, 64, 12);
}

@media screen and (min-width: 500px) {
  #grid {
    grid-template-areas: "jrn jrn" "img1 img2" "img3 img4" "img5 img6";
  }
}
@media screen and (min-width: 1024px) {
  #grid {
    grid-template-areas: "jrn img1 img2 img3" "jrn img4 img5 img6";
  }
}
#text1 {
  width: 90%;
  margin-left: 5%;
}

ul {
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding: 0;
}

li {
  margin-top: 1%;
  list-style: none;
  position: relative;
  padding: 0 0 0 20px;
  color: rgb(71, 44, 27);
}

ul.outline-round li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 2px solid rgb(102, 64, 12);
}

.label:after {
  content: "What's Next?";
  display: table;
  margin: 0px auto 0px auto;
  padding: 30px;
  background-color: rgb(238, 238, 225);
  box-shadow: 5px 10px rgb(128, 111, 87);
  color: rgb(71, 44, 27);
  font-size: 60px;
}

.label:hover:after {
  content: "Who Knows!";
  display: table; /* keep the background color wrapped tight */
  margin: 0px auto 0px auto; /* keep the table centered */
  padding: 30px;
  background-color: rgb(238, 238, 225);
  box-shadow: 5px 10px rgb(128, 111, 87);
  color: rgb(71, 44, 27);
  font-size: 60px;
}/*# sourceMappingURL=main.css.map */